@import "https://fonts.googleapis.com/css?family=Poppins";
* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}
.container-main {
	max-width: 100%;
}
.jumbotron {
	color: aliceblue;
	background: url(../img/backgrounds/h_img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	max-width: 100%;
}
.logo {
	margin-top: 20vh;
}
.container2 {
	color: aliceblue;
	background: url(../img/backgrounds/s_image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 40vh;
	width: 100%;
}

.thumbnail {
	border-style: none;
	cursor: pointer;
}
#design-showing {
	display: none;
	cursor: pointer;
}
#development-showing {
	display: none;
	cursor: pointer;
}
#projectmgt-showing {
	display: none;
	cursor: pointer;
}
#design-hidden {
	cursor: pointer;
}
#development-hidden {
	cursor: pointer;
}
#projectmgt-hidden {
	cursor: pointer;
}
/* Portfolio*/

#grey {
	position: relative;
}
.thumb1 {
	font-size: large;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	left: 30%;
	top: 40%;
	color: rgb(90, 6, 6);
}
.hide1 {
	display: none;
}

#ontario {
	position: relative;
}
.thumb2 {
	font-size: large;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	left: 30%;
	top: 40%;
	color: rgb(90, 6, 6);
}
.hide2 {
	display: none;
}
#orange {
	position: relative;
}
.thumb3 {
	font-size: large;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	left: 30%;
	top: 40%;
	color: rgb(90, 6, 6);
}
.hide3 {
	display: none;
}
#brave {
	position: relative;
}
.thumb4 {
	font-size: large;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	left: 40%;
	top: 40%;
	color: rgb(90, 6, 6);
}
.hide4 {
	display: none;
}
#good {
	position: relative;
}
.thumb5 {
	font-size: large;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	left: 30%;
	top: 40%;
	color: rgb(90, 6, 6);
}
.hide5 {
	display: none;
}
#buttons {
	position: relative;
}
.thumb6 {
	font-size: large;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	left: 30%;
	top: 40%;
	color: rgb(90, 6, 6);
}
.hide6 {
	display: none;
}
#burned {
	position: relative;
}
.thumb7 {
	font-size: large;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	left: 30%;
	top: 40%;
	color: rgb(90, 6, 6);
}
.hide7 {
	display: none;
}
#giraffe {
	position: relative;
}
.thumb8 {
	font-size: large;
	font-weight: bold;
	z-index: 1;
	position: absolute;
	left: 20%;
	top: 40%;
	color: rgb(90, 6, 6);
}
.hide8 {
	display: none;
}

.container.form {
	background: url(../img/backgrounds/c_image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.form {
	background: none;
	width: 100%;
	color: aliceblue;
}
.form-control {
	background: none;
	color: aliceblue;
}
.form-group.name {
	padding: 12px;
	float: left;
	margin-left: 10%;
	width: 40%;
}

.form-group.email {
	padding: 12px;
	float: right;
	margin-right: 10%;
	width: 40%;
}

.form-group.text {
	margin-left: 20vh;
	margin-right: 20vh;
}
#button {
	display: flex;
	align-items: center;
	justify-content: center;
}

#footer {
	margin-top: 20px;
}
.container.footer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.p-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
#textarea {
	height: 50vh;
}

.modal-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	opacity: 0;
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}
.modal-container.show {
	pointer-events: auto;
	opacity: 1;
}

.modal-box {
	background-color: aliceblue;
	margin: 20% auto;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 30px 50px;
	width: 40%;
	max-width: 100%;
	text-align: center;
}
