@import "https://fonts.googleapis.com/css?family=Poppins";
* {
	font-family: "Poppins", sans-serif;
}
.container-main {
	width: 100%;
}
.jumbotron {
	color: aliceblue;
	background: url(../img/backgrounds/h_img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}
.logo {
	margin-top: 20vh;
}
.container2 {
	color: aliceblue;
	background: url(../img/backgrounds/s_image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 40vh;
	width: 100%;
}
row {
	border-style: hidden;
}
.thumbnail {
	border-style: none;
}
#design-showing {
	display: none;
	cursor: pointer;
}
#development-showing {
	display: none;
	cursor: pointer;
}
#projectmgt-showing {
	display: none;
	cursor: pointer;
}
#design-hidden {
	cursor: pointer;
}
#development-hidden {
	cursor: pointer;
}
#projectmgt-hidden {
	cursor: pointer;
}

.container.form {
	background: url(../img/backgrounds/c_image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.form {
	background: none;
	width: 100%;
	color: aliceblue;
}
.form-control {
	background: none;
	color: aliceblue;
}

.btn.btn-success {
	margin-top: 10px;
}
#footer {
	margin-top: 20px;
}
